@model MVC_web.Models.DB.Item

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" id="btnUpload" value="Upload" />
}

<div>
    @Html.ActionLink("Back to item List", "Index")
</div>
