@{
    ViewBag.Title = "About Us";
}
<br />
<h2 class="text-muted">@ViewBag.Title.</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <img src="~/Pic/BG.jpg" class="img-fluid rounded" />
        <p class="text-muted">View of our shop.</p>
    </div>
    <div class="col-md-6">
        <span>
            
            We are tea-room "bouquet".
            We provide best food / drink with quality service.
            <br />
            <br />
            <hr />
            <br />
            <b>Address : </b>Admiralty Centre, 18 Harcourt Road, Hong Kong<br />
            <b>Tel     : </b>852 - 23239999<br />
            <b>Email   : </b>Bouquet@TRbouquet.net<br />
            <br />
            <hr />
            We hope you will be able to visit the tearoom soon.
            </span>
    </div>
</div>

