@{
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Pic/BG.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Welcome customer!</h1>
                @Html.ActionLink("PLACE YOUR ORDER NOW!", "Order", "Home", new { @class = "btn btn-warning btn-block btn-lg" })

            </div>
        </div>
       
    </div>
</div>

